*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #21a0ce, #23cfd5);
	background-size: 400% 400%;
	animation: gradient 8s ease infinite;
}

header{
    display: grid;
    place-items: center;
    height: 150px;
    text-align: center;
    color: white;
    padding: 1.2rem;
}

header h2 {
    border: 2px solid white;
    padding: 20px 50px;
    border-radius: 6px;
}

main {
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
    background-color: white;
    border-radius: 10px;
}

#form {
    width: 80%;
    margin: 0 auto;
}

input {
    width: 100%;
    margin-top: 10px;
    display: inline-block;
    height: 30px; 
    padding: 24px 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 16px;
}

input::placeholder {
    color: #c0c0c0;
}

input:focus {
    outline-color: #f7637c;
}

.result-section {
    margin: 20px auto;
    background-color: white;
    border-radius: 10px;
}

.result {
    width: 80%;
    margin: 0 auto;
}

.result h2 {
    text-decoration: underline;
    color: rgb(16, 82, 180);
}

button {
    color: #aaaaaa;
    background-color: transparent;
    margin: 30px 20px 0 0;
    font-size: large;
    border-radius: 4px;
    border: 1px solid #aaaaaa;
    padding: 15px 30px;
    transition: 0.3s ease;
    cursor: pointer;
}

#generate-btn {
    background-color:#4946f3;
    color: white;
    border: 0;
}

#generate-btn:hover {
    background-color:#3431dd;
    color: white;
}

#copy-btn:hover {
    background-color:#217adf;
    color: white;
}

#delete-btn:hover {
    background-color:#e92556;
    color: white;
}

textarea {
    width: 100%;
    height: 150px;
    max-width: 100%;
    max-height: 500px;
    border-radius: 4px;
    padding: 12px 10px;
    margin-top: 10px;
    font-size: 16px;
    border: 1px solid #cccccc;
}

textarea::placeholder {
    color: #c0c0c0;
}

textarea:focus {
    outline-color: #f7637c;
}

footer{
    padding: 5px;
    text-align: center;
    position: fixed;
    width: 100%;
    height: 40px;
    bottom: 0;
    background-color: rgb(247, 130, 84);
}

label {
    display: block;
    margin-top: 30px;
    color: rgb(26, 28, 58);
}

#copy-alert {
    margin-top: 40px;
}

/* Animation */
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}